@import 'var';

.AddTrade{
    height: 90vh;
    background: $black;
    color: white;
}
.addForm{
    height: 100%;
    // width: 100vw;
    @include flex(flex, space-around, center, column);
    box-sizing: border-box;
    padding: 5px 0;
}
