@import 'var';
.Auth{
    font-family: 'Staatliches';
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background:$black;
    color: white;
    
}
.authTitle{
    display: flex;
    justify-content: center;
    font-size: 40px;
    box-sizing: border-box;
    margin: 20px;
}
.authImg{
    background:$green;
    height: 40vh;
    width: auto;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}
.authBox{
    color: white;
    height: 50vh;
    width: auto;
    background: $black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    font-size: 30px;
}


.btnBox{
    display: flex;
    justify-content: space-around;
    width: 70%;
    
}
