@import 'var';

.Dashboard{
    padding: 5px 3px;
    @include flex(flex, space-around, center, row);
    
    flex-wrap: wrap;
    height: auto;
    background: $black;
    color: $green;
    box-sizing: border-box;
    
}