@import 'var';
Nav{
    
}
.Nav, .linkbox {
    position: fixed;
    background: $grey;
    height: 10vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 0 5px;
    @include flex(flex, space-between, center, row)
}
.navImg{
    background: transparent;
    max-width: 8vh;
    border-radius: 5px;
    height: auto;
    box-sizing: border-box;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
// .navBox{
//     width: 50vw;
//     @include flex(flex, space-around, center, ro)
// }
.navImg:hover{
background: $hover;
}
h1{
    font-size: 25px;
}

//sids css code

.hide-animation{
animation-name: hide;
animation-duration: .5s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}
@keyframes hide{
0% {
    height: 250px;
}
100% {
    height: 0px;
}
}
.show-animation{
animation-name: show;
animation-duration: .5s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}
@keyframes show{
0% {
    height: 0px;
}
100% {
    height: auto;
}
}

.dropdown{
display: flex;
overflow: hidden;
position: fixed;
top: 10vh;
right: 0;
// background-image: linear-gradient(white, whitesmoke);
width: 100%;
color:black;
flex-direction: column;
justify-content: center;
align-content: center;
align-items: baseline;
/* height: 700px; */
// box-shadow: 0px 8px 10px 0px #000000;
// z-index: 2;
}
.dropdown-links{
width: 100vw;
height: 40px;
font-size: 30px;
border: solid black;
background: $green;
color: black;
text-decoration: none;
@include flex(flex, center,center, row)
    
}
@media(min-width: 800px){
    .hamburgerIcon, .dropdown .hamBar{
        display: none;
    }
}
@media(max-width: 801px){
    .linkbox{
    display: none;
    }
}

.hide-dropdown{
    display: none;
}