@import "var";

.SaveTrade {
  padding: 5px 0;
  @include flex(flex, space-around, center, row);
  flex-wrap: wrap;
  height: auto;
  background: $black;
  color: white;
  .title{
      @include flex(flex, center, center, row);
      height: 10vh;
      width: 100vw;
      background: $black;
      font-size: 50px;
  }
}
